<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-6 mt-2">
      <h3>Your comments.</h3>
      <%= render 'dashboard/user_comments' %>
      <h3>Your Offers</h3>
      <%= render 'dashboard/user_offers' %>
    </div>
    <div class="col-12 col-sm-12 col-md-6 mt-2">
      <h3>Here are the book comments that added by other users.</h3>
      <%= render 'dashboard/comments' %>
      <h3>Incoming Offer</h3>
      <%= render 'dashboard/incoming_offers' %>
    </div>
  </div>
</div>

