<div class="container">
  <div class="row">
   <div class="col-md-12">
      <div class="jumbotron">
        <h1> Create a new book </h1>
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>